.rodape {
    display: flex;
    background-color: black;
    height: 22vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.text-footer {
    display: flex;
    font-size: 1.4em;
    text-align: right;
    font-family: sans-serif;
    margin-right: 400px;
    color: white;
}

.logo-rodape {
    width: 20vh ;
    height: 20vh;
    order: -1;
    display: flex;
    margin-left: 250px;
}