h2 {
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  font-family: sans-serif;
  padding-top: 20px;
  text-shadow: 2px 3px 2px blue;
}

#acessorios,
#eletronicos,
#roupas,
#livros {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 10px;
  margin: 30px 0;
}

h3 {
  font-size: 1.4em;
  font-weight: bold;
  font-family: sans-serif;
  text-align: left;
  text-transform: uppercase;
  padding-top: 10px;
  margin-left: 100px;
  text-shadow: 1px 2px 1px rgb(2, 133, 255);

}

.scroller {
  display: flex;
  text-align: left;
  width: 1000px;
  height: 400px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-color: rgba(255, 255, 255, 0.267);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.946);
  border: none;
}

#livros .scroller {
  height: 500px;
}

.sobre {
    font-size: 12px;
    border: 1px solid grey;
    margin: 10px;
    background-color: lightgray;
    padding: 4px;
}

#roupas {
  padding-bottom: 20px;
}

.img-produto {
  width: 250px;
  height: 300px;
}

.img-produto:hover {
  opacity: 70%;
  zoom: 120%;
  transition: 1.5s;
}

h4,
p {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 1%;
}

.prod {
  box-shadow: 2px 2px 2px 1px #0000003b;
  margin-right: 30px;
  border-radius: 10px;
  margin-top: 10px;
}

/*.prod:hover {
  zoom: 120%;
} 