body {
    background-color: rgb(206, 206, 206);
    box-sizing: border-box;
}

main {
    display: block;
    width: 100%;
    height: 100%;
}

#banner {
    width: 100%;
    height: 50vh;
}

#banner:hover {
    opacity: 50%;
}